body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}


h1{
    font-size: 50px;
}
.hasib_imam_name_color{
    color: Orange;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border: 2px;
    border-radius: 4px;
    padding: 7px 20px;
    color: white;
}



.link-resume-button{
    text-decoration: none;
    background-color: orange;
    border: 2px;
    border-radius: 2px;
    
}



.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
}

.half-width img{

    width: 100%;
    margin-top: 5%;
  
}







.second-half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
}

.second-half-width img{

    width: 100%;
    margin-top: 5%;
  
}





.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}

.right-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    

}

section{
    height: 650px;
}